@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

:root{
    --color-primary: #243e6a;
    // --color-primary: rgb(18 58 188);
    --color-secondary: #ffffff;
    // --color-accent: #1474fa;
    --color-accent: #4271C2;
    --color-white: #fffdfaef;
    --color-black: #1e1201;
    --color-grey: rgb(55 65 81);
    --color-grey-1: rgba(0, 0 ,0 , .8);
    --color-grey-2: #ffffffcc;
    --width: 60%;
}

.my-navbar{
    background-color: var(--color-primary);
    position: sticky;
    top: 0;
    z-index: 10000;
    .container{
        .navbar{
            .container-fluid{
                .navbar-brand{
                    img{
                        width: 50px;
                        height:50px;
                    }
                }
            }
        }
    }
}


.header{
    padding: 3rem 0 10rem;
    background-color: var(--color-primary);
    .container{
        .row{
            .col{
                line-height: 1;
                .head-item-1{
                    font-size: 3rem;
                    text-transform: uppercase;
                    
                }
                .head-item-2{
                    font-size: 8rem;
                    font-weight: 700;
                    text-transform: uppercase;

                }

                .head-item-3{
                    font-size: 1.5rem;
                }

            }
        }
    }
}

.event-info{
    padding: 5px;
    line-height: 2;

}

.main{
    padding-bottom: 100px;
    .container{
        > .row{
            padding: 100px 0 0 0;
            .subhead-text{
                font-size: 3.5rem;
                font-weight: 700;
            }

            .section-text{
                margin: 10px 0;
            }

            .section-text-1{
                font-size: 2rem;
                color: var(--color-primary);
                font-weight: 600;
            }

            .section-text-2{
                font-size: 48px;
                color: var(--color-grey-1);
                font-weight: 600;
            }

            .section-text-3{
                width: 80%;
                text-align: justify;
            }

            .alink{
                color: var(--color-grey);
                padding: 20px 30px;
                border: 1px solid var(--color-primary);
                border-radius: 50px;
                transition: 0.2s all linear ;
            }

            .alink:hover{
                color: var(--color-white);
                background-color: var(--color-primary);
            }
            
            .slider{
                .h-m-card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 20px;
                    padding: 20px 80px 50px;
                    height: fit-content;
                    border-radius: 15px;
                    box-shadow: 0 0 10px -5px var(--color-grey-1);
                    .h-m-c-header{
                        margin: 20px 0;
                        .h-m-c-img{
                            width: 120px;
                            height: 120px;
                            border-radius: 60px;
                            box-shadow: 1px 1px 5px var(--color-grey);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 100px;
                                height: 100px;
                                border-radius: 50px;
                            }
                        }
                    }
                    .h-m-c-body{
                        text-align: center;
                        line-height: 2;
                        color: var(--color-grey-1);
                        .h-m-c-name{
                            font-size: 1.5rem;
                            font-weight: 500;
                        }
                        .h-m-c-position{
                            font-size: 1.3rem;
                        }
                        .h-m-c-socials{
                            font-size: 1.2rem;
                            display: flex;
                            i{
                                border-radius: 50%;
                                margin: 50px 10px 0;
                                padding: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                box-shadow: 0 0 5px -2px var(--color-grey);
                                color: var(--color-black);
                            }
                            i:hover{
                                scale: 1.2  ;
                            }
                        }
                    }
                }
            }
            .event-detail-img{
                height: 300px;
                border-radius: 30px;
            }

            .event-detail-para{
                font-size: 1.25rem;
                line-height: 1.5;
                padding: 20px 40px;
                p{
                    margin: 20px 0;
                }
            }
            
        }
    }
}

.card{
    margin: 20px 0;
    padding: 10px;
}



// Contact Us

.contact-content-con {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3.5rem;
  }
  .contact-content-con .left-contact {
    flex: 2;
  }
  .contact-content-con .left-contact h4 {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .contact-content-con .left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
  }
  .contact-content-con .left-contact .contact-info .contact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact-content-con .left-contact .contact-info .contact-item p {
    margin: 0.3rem 0 !important;
    padding: 0 !important;
  }
  .contact-content-con .left-contact .contact-info .contact-item .icon {
    display: grid;
    grid-template-columns: 40px 1fr;
  }
  .contact-content-con .left-contact .contact-info .contact-item .icon i {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
  }
  .contact-content-con .left-contact .contact-icon {
    display: flex;
    margin-top: 2rem;
  }
  .contact-content-con .left-contact .contact-icon a {
    display: flex;
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0.4rem;
    transition: all 0.4s ease-in-out;
  }
  .contact-content-con .left-contact .contact-icon a:hover {
    background-color: var(--color-black);
  }
  .contact-content-con .left-contact .contact-icon a:hover i {
    color: var(--color-secondary);
  }
  .contact-content-con .left-contact .contact-icon a i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--color-black);
    margin: 0;
  }
  .contact-content-con .right-contact {
    flex: 3;
    margin-left: 3rem;
  }
  .contact-content-con .right-contact .input-control {
    margin: 1.5rem 0;
  }
  .contact-content-con .right-contact .input-control input, .contact-content-con .right-contact .input-control textarea {
    border-radius: 30px;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: #00000011;
    width: 100%;
    color: var(--color-black);
    resize: none;

  }
  .contact-content-con .right-contact .i-c-2 {
    display: flex;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 1.5rem;
  }
  .contact-content-con .right-contact .submit-btn {
    display: flex;
    justify-content: flex-start;
  }

  .msg-btn{
    padding: 10px 40px;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: transparent;
    transition: all 0.2s linear;
  }

  .msg-btn:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
  }


// Footer
.footer{
    background-color: var(--color-accent);
    // background: linear-gradient(to right, var(--color-primary) 20%, var(--color-accent) 60%, var(--color-primary));
    .foot{
        // width: var(--width);
        // margin: auto auto;
        padding: 50px 0;
        border-bottom: 2px solid var(--color-secondary);


        .footer-notes{
            .footer-note-up{
                display: flex;
                flex-wrap: wrap;
                width: fit-content;
                margin: auto auto;
                align-items: center;
                padding: 20px 0;

                .footer-phone, .footer-socials{
                    padding: 0 50px;
                    i{
                        color: var(--color-grey-2);
                        font-size: 1.2rem;
                        margin: 0 10px;
                        transition: all 0.1s ease-in-out;
                    }
                    i:hover{
                        color: var(--color-secondary);
                        transform: scale(1.2);
                    }
                }
                
                .footer-phone{
                    color: var(--color-white);
                    a{
                        color: var(--color-grey-2);
                        font-size: 1.1rem;
                        transition: all 0.1s linear;
                    }
                    a:hover{
                        color: var(--color-secondary);
                    }
                }
                .footer-logo{
                    width: 60px;
                    height: 60px;

                    img{
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s ease-in-out;
                    }
                    img:hover{
                        transform: rotate(360deg);
                    }
                }
            }

            .footer-note-down{
                color: var(--color-white);
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 20px;
                text-align: center;
                .fn-d{
                    h3{
                        font-weight: 600;
                        font-size: 1.3rem;
                        border-bottom: 2px solid var(--color-secondary);
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                    }
                    ul{
                       line-height: 2;
                       padding-left: 0;
                       li{
                        a{
                            color: var(--color-grey-2);
                            font-weight: 500;
                        }
                       }
                    }
                    a:hover{
                        color: var(--color-secondary);
                    }
                }
            }
            
        }

    }
    .copy{
        text-align: center;
        color: var(--color-secondary);
        padding: 50px 0;
    }
}

.member-card{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    .member-card-img{
        width: 150px;
        height: 150px;
        border: 4px solid orange;
        border-radius: 75px;
        padding: 3px;
        img{
            border-radius: 75px;
            border: 5px solid var(--color-primary);
        }
    }

    .member-card-name, .member-card-position, .member-card-socials{
        text-align: center;
    } 

    .member-card-name{
        margin-top: 10px;
        color: var(--color-primary);
        font-size: 1.3rem;
        font-weight: 500;
    }
    .member-card-position{
        font-size: 1.1rem;
        font-weight: 400;
    }
    .member-card-socials{
        margin-top: 15px;
        i{
            margin: 0 6px;
            font-size: 1.6rem;
            color: var(--color-accent);
            transition: all 0.2s ease-in-out;
        }
        i:hover{
            transform: translateY(-5px) scale(1.1);
            color: var(--color-primary);
        }

    }
}




// Special
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}