@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// font-family: 'Roboto', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-primary: #243e6a;
    // --color-primary: rgb(18 58 188);
    --color-secondary: #ffffff;
    // --color-accent: #1474fa;
    --color-accent: #4271C2;
    --color-white: #fffdfaef;
    --color-black: #1e1201;
    --color-grey: rgb(55 65 81);
    --color-grey-1: rgba(0, 0 ,0 , .8);
    --color-grey-2: #ffffffcc;
    --width: 60%;
}

// styles for tags
a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

ul, li{
    list-style-type: none;
}

span{
    color: var(--color-primary);
    border-bottom: 7px solid var(--color-primary);
}

// end styles for tags


.navbar{
    background-color: var(--color-primary);
    padding: 1rem;
    .nav{
        width: var(--width);
        margin: auto auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-navbar{
            width: 50px;
            height: 50px;
            .logo-container{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .right-navbar{
            .navbar-items{
                display: flex;
                .navbar-item{
                    margin: 20px;
                    a{
                        color: var(--color-white);
                        font-weight: 500;
                        transition: all 0.2s linear;
                    }
                    a:hover{
                        color: #ffffff;    
                    }
                }
            }
        }
    }
}

.header{
    background-color: var(--color-primary);
    // background: linear-gradient(var(--color-primary) 80% , var(--color-secondary) );
    padding: 3rem 0 10rem;
    .head{
        width: var(--width);
        margin: auto auto;

        .head-item{
            color: var(--color-secondary);
            line-height: 1;
        }

        .head-item-1{
            text-transform: uppercase;
            letter-spacing: -1px;
            font-size: 3rem;
            font-weight: 400;
        }

        .head-item-2{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 8rem;
        }

        .head-item-3{
            font-size: 1.5rem;
        }

        .head-special{
            font-weight: 700;
            font-size: 6rem;
        }
    }
}

// Home body
.home-about{
    padding: 100px 0;
    .home-abt{
        width: var(--width);
        margin: auto auto;
        .h-a-header{
            text-align: center;
            margin-bottom: 70px;
            font-size: 2.5rem;
        }

        .h-a-body{
            display: flex;
            justify-content: space-around;
            .h-a-left{
                img{
                    border-radius: 50px;
                    width: 75%;
                    box-shadow: 0px 10px 25px -10px #000;
                }
            }
            .h-a-right{
                h3{
                    font-size: 1.8rem;
                    color: var(--color-primary);
                    line-height: 2;
                }
                h4{
                    font-size: 48px;
                    color: var(--color-grey-1);
                }
                p{
                    margin: 10px 0;
                    width: 80%;
                    text-align: justify;
                }
            }
        }
    }
}

// Home page latest event
.home-events{
    padding-bottom: 100px;
    .home-evnt{
        width: var(--width);
        margin: auto auto;
        .h-e-header{
            text-align: center;
            margin-bottom: 70px;
            font-size: 2.5rem;
        }
        .h-e-body{
            display: flex;
            justify-content: space-around;
            .h-e-left{
                .h-e-l-header{
                    width: 70%;
                    h3{
                        font-size: 1.8rem;
                        color: var(--color-primary);
                        line-height: 2;
                    }

                    p{
                        line-height: 1.4;
                    }
                    
                    .info{
                        padding: 5px 0 0 5px;
                        .location, .time, .prize{
                            line-height: 2.5;
                            display: flex;
                            font-size: 500;
                            .text-item{
                                padding-left: 10px;
                            }
                        }
                    }
                    .btn-link{
                        margin: 50px 0;
                        a{
                            padding: 20px 50px;
                            border: 1px solid var(--color-primary);
                            color: var(--color-grey-1);
                            border-radius: 50px;
                            transition: all 0.3s ease-in-out;
                        }

                        a:hover{
                            background-color: var(--color-primary);
                            color: var(--color-secondary);
                        }
                    }
                }

            }
            .h-e-right{
                img{
                    width: 500px;
                    height: 500px;
                    object-fit: cover;
                }
            }

        }
    }
}


// Events
.events{
    width: var(--width);
    margin: 100px auto;

    .recent-events{
        display: flex;
        flex-direction: column;

        .event-head{
            margin-bottom: 50px;
            text-align: center;
            h2{
                color: var(--color-primary);
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 2.5rem;
            }
            p{
                font-size: 1.25rem;
                color: var(--color-grey);
            }
        }
        
        .events-cards{
            display: flex;
            flex-direction: column;
            
            .event-card{
                width: 70%;
                height: 200px;
                display: flex;
                margin: 10px auto;
                border-radius: 15px;
                overflow: hidden;
                transition: all 0.1s linear;
                .card-left{
                    min-width: 20%;
                    height: 200px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                
                .card-centre{
                    width: 60%;
                    height: 100%;
                    padding: 5px 20px;
                    .card-head{
                        h3{
                            font-size: 2rem;
                            color: var(--color-grey-1)
                        }
                    }
                    .card-prize{
                        padding: 7px 0;
                    }
                    
                    .card-para{
                        padding-bottom: 5px;
                    }
                    
                    .read-more{
                        margin-top: 20px;
                        a{
                            padding: 10px;
                            color: var(--color-secondary);
                            background-color: var(--color-accent);
                            border-radius: 12px;
                            font-size: 14px;
                            transition: all 0.2s linear;
                        }
                        a:hover{
                            background-color: var(--color-primary);
                            font-weight: 500;
                        }
                    }
                }

                .card-right{
                    display: flex;
                    min-width: 20%;
                    height: 100%;
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: 500;
                }
            }
            .event-card:hover{
                transform: translateY(-5px);
                box-shadow: 0 15px 30px #00000033;
            }
        }
    }
}

// Event Detail
.event-detail{
    padding: 100px 0;
    .detail{
        width: var(--width);
        margin: auto auto;
        .event-banner{
            img{
                width: 900px;
                height: 300px;
                object-fit: cover;
            }
        }

        .event-header{
            h2{
                font-size: 2.2rem;
                font-weight: 600;
                color: var(--color-primary);
                line-height: 2;
            }
            .info{
                .location, .time, .prize{
                    line-height: 2;
                    display: flex;
                    font-size: 500;
                    .text-item{
                        padding-left: 10px;
                    }
                }
            }
        }

        .event-body{
            padding-top: 10px;
            .e-b-header{
                font-size: 1.8rem;
                line-height: 2;
                h3{
                    font-weight: 400;
                    color: var(--color-primary);
                }
            }

            .e-b-para{
                width: 95%;
                margin: auto auto;
                font-size: 1.25rem;
                color: var(--color-grey-1);
                p{
                    line-height: 1.5;
                    margin: 20px 0;
                }
            }
        }

    }
}

// Footer
.footer{
    background-color: var(--color-accent);
    // background: linear-gradient(to right, var(--color-primary) 20%, var(--color-accent) 60%, var(--color-primary));
    .foot{
        width: var(--width);
        margin: auto auto;
        padding: 50px 0;
        border-bottom: 2px solid var(--color-secondary);


        .footer-notes{
            .footer-note-up{
                display: flex;
                width: fit-content;
                margin: auto auto;
                align-items: center;
                padding: 20px 0;

                .footer-phone, .footer-socials{
                    padding: 0 50px;
                    i{
                        color: var(--color-grey-2);
                        font-size: 1.2rem;
                        margin: 0 10px;
                        transition: all 0.1s ease-in-out;
                    }
                    i:hover{
                        color: var(--color-secondary);
                        transform: scale(1.2);
                    }
                }
                
                .footer-phone{
                    color: var(--color-white);
                    a{
                        color: var(--color-grey-2);
                        font-size: 1.1rem;
                        transition: all 0.1s linear;
                    }
                    a:hover{
                        color: var(--color-secondary);
                    }
                }
                .footer-logo{
                    width: 60px;
                    height: 60px;

                    img{
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s ease-in-out;
                    }
                    img:hover{
                        transform: rotate(360deg);
                    }
                }
            }

            .footer-note-down{
                color: var(--color-white);
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                text-align: center;
                .fn-d{
                    h3{
                        font-weight: 600;
                        font-size: 1.3rem;
                        border-bottom: 2px solid var(--color-secondary);
                        margin-bottom: 10px;
                        padding-bottom: 10px;
                    }
                    ul{
                       line-height: 2;
                       li{
                        a{
                            color: var(--color-grey-2);
                            font-weight: 500;
                        }
                       }
                    }
                    a:hover{
                        color: var(--color-secondary);
                    }
                }
            }
            
        }

    }
    .copy{
        text-align: center;
        color: var(--color-secondary);
        padding: 50px 0;
    }
}